# Root
app/frontend/node_modules
pnpm-lock.yaml
.env
.DS_Store

# React (app/frontend)
app/frontend/node_modules/
app/frontend/dist/
app/frontend/.vite/
app/frontend/.env

# Go (app/backend/cmd/api)
app/backend/cmd/api/bin/
app/backend/cmd/api/obj/
app/backend/cmd/api/*.exe
app/backend/cmd/api/*.out
app/backend/cmd/api/.env
app/backend/cmd/api/vendor/
app/backend/cmd/api/coverage/
app/backend/cmd/api/test-results/

# Go Build Artifacts
*.exe
*.out
*.test

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
Thumbs.db
