# Root
app/frontend/node_modules
pnpm-lock.yaml
.env
.DS_Store

# React (app/frontend)
app/frontend/node_modules/
app/frontend/dist/
app/frontend/.vite/
app/frontend/.env

# Go Build Artifacts
*.exe
*.out
*.test

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
Thumbs.dbs

# Go
app/backend/tmp/
bin/
pkg/
*.test

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/
.env
.venv