services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  frontend:
    build:
      context: ./app/frontend
      target: dev
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./app/frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - curator

  backend:
    build:
      context: ./app/backend
      target: dev
    ports:
      - "8000:8000"
    volumes:
      - ./app/backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - WATCHFILES_FORCE_POLLING=true
      - UV_COMPILE_BYTECODE=1
    networks:
      - curator

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - curator

volumes:
  db_data:

networks:
  curator:
    driver: bridge
